<%= form_with(model: @question, local: true, url: choose_new_or_edit ) do |f| %>
  <% if @question.errors.any? %>
  <div id="error_explanation">
    <h2><%= @question.errors.count %>件のエラーがあります。</h2>
    <ul>
    <% @question.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <br>
<div class="field">
  <%= f.label :title %></label>
  <%= f.text_field :title, placeholder: 'タイトルを入力' %>
</div>
<div class="field">
  <%= f.label :content %></label>
  <%= f.rich_text_area :content, placeholder: '記事の内容を入力' %>
</div>
<div class="field">
  <%= f.submit '記事投稿' %>
  <%= f.submit '下書き保存', name: 'draft' %>
</div>
<% end %>