<div class="container">
  <div class="row">
    <div class="col-md-12">
    <%= form_with(model: @question, local: true, url: choose_new_or_edit ) do |f| %>
      <% if @question.errors.any? %>
      <div id="error_explanation">
        <h2><%= @question.errors.count %>件のエラーがあります。</h2>
        <ul>
        <% @question.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
      <% end %>

      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, placeholder: 'タイトルを入力', class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :disease %><small>複数選択可能(windowsはctrl,Macはcommand押しながら選択)</small>
        <%= f.collection_select(:disease_ids, @diseases, :id, :name, { include_blank: "タグを選択", prompt: false}, { multiple: true, class: "form-control" }) %>
      </div>
<%
=begin%>
      <div id="disease_detail_insert_point"></div>

      <div id="disease_detail">
        <div class="field">
          <% if @disease_details.blank? %>
            <%= f.label :disease_detail %>
            <%= f.select(:disease_detail_id, [], { include_blank: "---" }, { class: "form-control" }) %>
          <% else %>
            <%= f.label :disease_detail %>
            <%= f.collection_select(:disease_detail_id, @disease_details, :id, :content, { include_blank: "---", prompt: false }, { class: "form-control" }) %>
          <% end %>
        </div>
      </div>

      <% @diseases.each do |disease|  %>
        <template id="disease_detail_<%= disease.id %>">
          <div id="selected_disease_detail">
            <div class="field" >
              <%= f.label :disease_detail %>
              <%= f.collection_select(:disease_detail_id, disease.disease_details, :id, :content, { include_blank: "---", prompt: false }, { class: "form-control" }) %>
            </div>
          </div>
        </template>
      <% end %>
<%
=end%>
      <div class="field">
        <%= f.label :content %>
        <%= f.rich_text_area :content, placeholder: '記事の内容を入力', class: "form-control" %>
      </div><br>

      <div class="field">
        <%= f.submit '記事投稿', class: "btn btn-outline-primary" %>
        <%= f.submit '下書き保存', name: 'draft', class: "btn btn-outline-secondary" %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<%# <script>
$(document).on('turbolinks:load', function() {
  //復活させるダミーの中カテゴリのセレクトボックス
  let default_disease_detail_select = `<div id="disease_detail"><div class="field"><div class="form-group"><disease for="question_disease_id">タグ詳細</disease><select name="disease_detail", class="form-control">
  <option value>---</option>
  </select></div></div></div>`;

    //中カテゴリの処理
  $(document).on('change', '#question_disease_id', function() {
    let category_val = $('#question_disease_id').val();

    //大カテゴリが変更されてvalueに値が入った場合の処理
    if (category_val !== "") {
    let selected_template = $(`#disease_detail_${category_val}`); //呼び出すtamplateのidセット

    $('#disease_detail').remove(); //デフォルト表示用の中カテゴリを削除
    $('#selected_disease_detail').remove(); //前に選択した中カテゴリがある場合に削除
    $('#disease_detail_insert_point').after(selected_template.html());　//大カテゴリに紐づいた中カテゴリセレクトを追加
    console.log(selected_template);

    }else {

    //親要素のセレクトボックスが変更されてvalueに値が入っていない場合（include_blankの部分を選択している場合）
    $("#selected_disease_detail").remove();//前に選択した中カテゴリがある場合に削除
    $('#disease_detail').remove();//デフォルト表示用の中カテゴリを削除
    $('#disease_detail_insert_point').after(default_disease_detail_select); //デフォルト表示の中カテゴリを追加

    };
  });
}); 
</script> %>