<div class="container main-container">
  <%= form_with(model: @question, local: true, url: questions_path ) do |f| %>
    <div class="row">
      <div class="col-md-8">
          <% if params[:draft] %>
            <h3 class="text-center">以下の内容で、下書き保存します</h3>
          <% else %>
            <h3 class="text-center">以下の内容で、Q&Aを投稿します</h3>
          <% end %>
        <div class="form-group">
          <%= f.label :title %>
          <%= f.hidden_field :title %>
          <div class="card">
            <%= @question.title %>
          </div>
        </div>

        <div class="field">
          <%= f.label :content %>
          <%= f.hidden_field :content %>
          <div class="card" style="height: 10rem;">
            <%= @question.content %>
          </div>
        </div><br>

        <div class="field text-center">
          <% if params[:draft] %>
            <%= f.submit "下書き保存", name: "draft", class: "btn btn-outline-primary" %>
          <% else %>
            <%= f.submit "投稿する", class: "btn btn-outline-primary" %>
          <% end %>
          <%= f.submit "戻る", name: "back", class: "btn btn-outline-secondary" %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <%= f.label :disease %><br>
          <small>複数選択可能</small><br>
          <div class="card" style="height: 5rem;">
            <% @question.diseases.each do |disease| %>
              <%= disease.name %>
              <%= f.hidden_field :disease_ids, multiple: true, value: disease.id %>
            <% end %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :drug %><br>
          <small>複数選択可能</small><br>
          <div class="card" style="height: 5rem;">
            <% @question.drugs.each do |drug| %>
              <%= drug.name %>
              <%= f.hidden_field :drug_ids, multiple: true, value: drug.id %>
            <% end %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :side_effect %><br>
          <small>複数選択可能</small><br>
          <div class="card" style="height: 5rem;">
            <% @question.side_effects.each do |side_effect| %>
              <%= side_effect.name %>
              <%= f.hidden_field :side_effect_ids, multiple: true, value: side_effect.id %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>