<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3>Q&A一覧</h3>
    </div>
    <div class="col-md-6 text-right">
      <span>
        <%= link_to "すべて", questions_path, class: "btn btn-outline-secondary" %>
        <%= link_to "解決済み", questions_path(resolved: true), class: "btn btn-outline-secondary" %>
        <%= link_to "回答受付中", questions_path(unresolved: true), class: "btn btn-outline-secondary" %>
      </span>
    </div>
  </div>
</div>

<% @questions.each do |question| %>
  <div class="card mb-3 question-card">
    <div class="row no-gutters">
      <div class="col-md-2">
        <div class="bd-placeholder">
          <br>
          <% if question.resolved %>
            <p class="resolved-true text-center bottom-mgr-5"><%= resolved_text(question) %></p>
          <% else %>
            <p class="resolved-false text-center bottom-mgr-5"><%= resolved_text(question) %></p>
          <% end %>
          <p class="text-center bottom-mgr-5">回答数 <strong><%= comment_count(question) %></strong></p>
          <p class="text-center bottom-mgr-5">クリップ数 <strong><%= question.favorites.count %></strong></p>
        </div>
      </div>
      <div class="col-md-10">
        <%= link_to question_path(question.id), class: "card-body question-index" do %>
          <h5 class="card-title"><%= question.title %></h5>
          <p class="card-text"><%= question.content %></p>
        <% end %>
      </div>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="d-grid gap-4 col-3 mx-auto text-right">
          <small class="text-muted"><%= disease_text(question) %></small>
        </div>
        <div class="d-grid gap-4 col-3 mx-auto">
          <small class="text-muted"><%= disease_detail_text(question) %></small>
        </div>
        <div class="d-grid gap-4 col-3 mx-auto text-right">
          <small class="text-muted"><%= link_to "#{question.user.name}", user_path(question.user) %></small>
        </div>
        <div class="d-grid gap-4 col-3 mx-auto text-center">
          <small class="text-muted"><%= question.created_at.strftime('%Y/%m/%d') %></small>
        </div>
      </div>
    </div>
  </div>
<% end %>