<p>【Q&A一覧】</p>
<%= link_to "質問する", new_question_path %>
<br>
<%= search_form_for @q, url: search_questions_path do |f| %>
  <%= f.search_field :title_or_content_body_cont, placeholder: "薬の名前 副作用" %>
  <%= f.submit '検索' %>
<% end %>

<p>
  <%= link_to "すべて", questions_path %>
  <%= link_to "解決済み", questions_path(resolved: true) %>
  <%= link_to "回答受付中", questions_path(unresolved: true) %>
</p>
<table>
  <thead>
    <tr>
      <th>状態</th>
      <th>回答数</th>
      <th>タイトル</th>
      <th>内容</th>
      <th>投稿者</th>
      <th>投稿日</th>
    </tr>
  <thead>
  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= resolved_text(question) %></td>
        <td><%= comment_count(question) %></td>
        <td><%= question.title %></td>
        <td><%= question.content %></td>
        <td><%= question.user.name %></td>
        <td><%= question.created_at.strftime('%Y/%m/%d') %></td>
        <td><%= link_to "詳細", question_path(question.id) %></td>
        <% if user_signed_in? %>
          <% if question.user_id == current_user.id %>
            <td><%= link_to "編集", edit_question_path(question.id) %></td>
            <td><%= link_to "削除", question_path(question.id), method: :delete, data: { confirm: "本当に削除してもいいですか？" } %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
