<h2>Q＆A詳細</h2>

<% if @question.draft %>
  <p>このQ＆Aは現在下書きのため非公開です</p>
<% end %>

<div class="favorite-link" id="favorite-link-<%= @question.id %>">
  <%= render partial: 'favorites/favorite', locals: { question: @question } %>
</div>

<p>状態：<%= resolved_text(@question) %></p>
  <% if user_signed_in? && @question.user_id == current_user.id %>
    <% if @question.resolved %>
      <%= link_to "回答受付中にする", change_resolved_question_path(@question.id) %>
    <% else %>
      <%= link_to "解決済みにする", change_resolved_question_path(@question.id) %>
    <% end %>
  <% end %>

<p>タイトル: <%= @question.title %></p>
<p>内容: <%= @question.content %></p>

<p>コメント一覧</p>
  <div id="comments_area">
    <%= render partial: 'comments/index', locals: { comments: @comments, question: @question } %>
  </div>
<% if user_signed_in? %>
  <%= render partial: 'comments/form', locals: { comment: @comment, question: @question } %>
<% else %>
  <p>※コメントは登録後投稿できます</p>
<% end %>