<%= form_with(model: @note, local: true) do |f| %>
  <% if @note.errors.any? %>
    <div id="error_explanation">
      <h2><%= @note.errors.count %>件のエラーがあります。<h2>
      <ul>
        <% @note.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, placeholder: 'タイトルを入力' %>
  <div>

  <div class="field">
    <%= f.label :content %>
    <%= f.rich_text_area :content, placeholder: '記事の内容を入力' %>
  </div>

  <div class="field">
    <%= f.submit '保存' %>
  <div>
<% end %>

<p><%= link_to "学習ノート一覧に戻る", notes_path %></p>