<p>学習ノートから調べる</p>
<%= search_form_for @q, url: search_notes_path do |f| %>
  <%= f.search_field :title_or_content_body_cont, placeholder: "ノート 検索" %>
  <%= f.submit '検索' %>
<% end %>

<h4>学習ノート</h4>
<%= link_to "新しくノートを作成する", new_note_path %>

<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>内容</th>
    </tr>
  <thead>
  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><%= link_to note.title, note_path(note.id) %></td>
        <td><%= link_to note.content, note_path(note.id) %></td>
        <td><%= link_to "削除", note_path(note.id), method: :delete, data: { confirm: "本当に削除してもいいですか？" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>