<%= search_form_for @q, url: search_notes_path do |f| %>
  <div class="pt-5 text-center">
      <%= f.search_field :title_or_content_body_cont, placeholder: "キーワードで検索" %>
      <%= f.submit '検索' %>
  </div>
<% end %>
<h5 class="text-center pt-5">学習ノート</h5>

<div class="container">
  <% @notes.each do |note| %>
    <div class="card mb-3">
      <div class="card-body">
        <div class="row h-100">
          <div class="col-10">
            <div class="card-title text-truncate">
              <%= link_to note.title, note_path(note.id) %>
            </div>
            <div class="card-text text bg-light">
              <%= link_to note.content, note_path(note.id) %>
            </div>
          </div>
          <div class="col-2 d-flex align-items-center justify-content-center">
            <%= link_to "編集", edit_note_path(note.id), class: "btn btn-outline-dark" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>