<ul class="nav justify-content-center bottom-mgr-50 menubar-items">
  <li class="nav-item menubar-item">
    <a class="mgr-10"><%= link_to questions_path, class: "content-link" do %><%= link_to embedded_svg("question-answer.svg") %>Q&A<% end %></a>
  </li>
  <li class="nav-item menubar-item">
    <a class="mgr-10"><%= link_to notes_path, class: "content-link" do %><%= link_to embedded_svg("notebook.svg") %>ノート</a><% end %>
  </li>
  <li class="nav-item menubar-item">
    <a class="mgr-10"><%= link_to questions_path, class: "content-link" do %><%= link_to embedded_svg("column.svg") %>コラム</a><% end %>
  </li>
</ul>