<div class="col-xs-4 col-lg-4">
  <div class="card">
    <h5 class="card-header">がんの種類で調べる</h5>
    <div class="card-body">
      <p class="card-text">
        <% @question_tag_ranks.each.with_index(1) do |disease, i| %>
          <%= link_to by_disease_questions_path(disease.id) do %>
            <span class="bottom-mgr-5 btn btn-outline-secondary btn-sm disease_index-sidemenu-text">
              <%= "#{disease.name}" %><%= "(#{disease.questions.count})" %>
            </span>
          <% end %>
          <% break if i == 10 %>
        <% end %>
      </p>
    </div>
    <div class="card-body text-right">
      <a href="#" class="primary">がんのQ&A一覧を見る＞</a>
    </div>
  </div>
  <br>
  <div class="card">
    <h5 class="card-header">がん専門薬剤師</h5>
    <ul class="list-group list-group-flush">
      <% @sidebar_profession_users.each.with_index(1) do |user, i| %>
        <li class="list-group-item">
          <div class="row">
            <div class="col">
              <% if user.first.image? %>
                <%= image_tag user.first.image.url, class: "rounded-circle", size: "40x40" %>
              <% else %>
                <%= image_tag asset_path('no_image.png'), class: "rounded-circle", size: "40x40" %>
              <% end %>
              <span><%= user.first.name%>先生</span>
              <p class="bottom-mgr-5">
                <span><%= user.first.pharmacy %></span>
                <span><%= embedded_svg("map.svg") %><%= user.first.prefectures %></span>
              </p>
            </div>
            <div class="col-4 d-flex align-items-center justify-content-center">
              <p class="bottom-mgr-5"><%= user.second %>回答</p>
            </div>
          </div>
        </li>
        <% break if i == 3 %>
      <% end %>
    </ul>
    <div class="card-body text-right">
      <%= link_to "がん専門薬剤師一覧ページ ＞", users_path %>
    </div>
  </div>
  <br>
  <%= link_to "質問する", new_question_path, class: "btn btn-outline-primary btn-block btn-lg" %>
  <br>
  <%= link_to "はじめての方へ", root_path, class: "btn btn-outline-secondary btn-block btn-lg" %>
</div>
