<div class="container main-container">
  <div class="row justify-content-center">
    <div class="col-6">
      <h2><%= t('.title', resource: resource.model_name.human) %></h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :image %><br />
          <%= image_tag(resource.image.url, size: "100x100") if resource.image && resource.image.url %>
          <%= f.file_field :image %>
        </div>
        <br>

        <div class="field">
          <%= f.label :name %><br />
          <%= f.text_field :name, autocomplete: "name", placeholder: "名前", class: "form-control" %>
          <small id="nameHelp" class="form-text text-muted">名前を変更する場合は入力してください</small>
        </div>
        <br>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autocomplete: "email", placeholder: "メールアドレス", class: "form-control" %>
          <small id="emailHelp" class="form-text text-muted">メールアドレス変更する場合は入力してください</small>
        </div>
        <br>

        <div class="field">
          <%= f.label :pharmacy %><br />
          <%= f.text_field :pharmacy, autocomplete: "pharmacy", placeholder: "薬局名", class: "form-control" %>
          <small id="pharmacyHelp" class="form-text text-muted">薬局名変更する場合は入力してください</small>
        </div>
        <br>

        <% if resource.pharmacist? %>
          <%= f.fields_for :pharmacist_details do |pharmacist_detail|%>
            <div class="field">
              <%= pharmacist_detail.label :office_name %><br />
              <%= pharmacist_detail.text_field :office_name, placeholder: "勤務先", class: "form-control" %>
              <small id="office_nameHelp" class="form-text text-muted">勤務先を入力してください</small>
            </div>
            <br>

            <div class="field">
              <%= pharmacist_detail.label :license %><br />
              <%= pharmacist_detail.collection_select(:license_ids, @licenses, :id, :name, { include_blank: "-資格の種類を選ぶ-", prompt: false}, { multiple: true, class: "form-control" }) %>
              <small id="licenseHelp" class="form-text text-muted">複数選択可能(windowsはctrl,Macはcommand押しながら選択)</small>
            </div>
            <br>

            <div class="field">
              <%= pharmacist_detail.label :other_license %><br />
              <%= pharmacist_detail.text_field :other_license, placeholder: "その他資格", class: "form-control" %>
              <small id="other_licenseHelp" class="form-text text-muted">その他の資格を入力してください</small>
            </div>
            <br>

            <div class="field">
              <%= pharmacist_detail.label :specialty %><br />
              <%= pharmacist_detail.collection_select(:disease_ids, @diseases, :id, :name, { include_blank: "-がんの種類を選ぶ-", prompt: false}, { multiple: true, class: "form-control" }) %>
              <small id="licenseHelp" class="form-text text-muted">複数選択可能(windowsはctrl,Macはcommand押しながら選択)</small>

            </div>
            <br>

            <div class="field">
              <%= pharmacist_detail.label :introduction %><br />
              <%= pharmacist_detail.text_area :introduction, placeholder: "自己紹介", class: "form-control" %>
              <small id="introductionHelp" class="form-text text-muted">自己紹介を入力してください</small>
            </div>
            <br>
          <% end %>
        <% end %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div><%= t('.currently_waiting_confirmation_for_email', email: resource.unconfirmed_email) %></div>
        <% end %>

        <div class="field">
          <%= f.label :password %> <i>(<%= t('.leave_blank_if_you_don_t_want_to_change_it') %>)</i><br />
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
          <small id="passwordHelp" class="form-text text-muted">パスワードを変更する場合は入力してください<% if @minimum_password_length %>
          <%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></small>
          <% end %>
        </div>
        <br>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
          <small id="passwordHelp" class="form-text text-muted">パスワードを変更する場合は入力してください</small>
        </div>
        <br>

        <div class="field">
          <%= f.label :current_password %> <i>(<%= t('.we_need_your_current_password_to_confirm_your_changes') %>)</i><br />
          <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
          <small id="passwordHelp" class="form-text text-muted">変更を実行する場合はパスワードを入力してください</small>
        </div>
        <br>

        <div class="actions">
          <%= f.submit t('.update'), class: "btn btn-warning" %>
        </div>
      <% end %>
      <br>
      <h3><%= t('.cancel_my_account') %></h3>

      <p><%= t('.unhappy') %> <%= button_to t('.cancel_my_account'), registration_path(resource_name), data: { confirm: t('.are_you_sure') }, method: :delete %></p>

      <%= link_to t('devise.shared.links.back'), :back %>
    </div>
  </div>
</div>
