
<% if user_signed_in? %>
  <% unless @knowledge.user_id == current_user.id %>
    <% if current_user.favorites.find_by(knowledge_id: @knowledge.id) %>
      <%= link_to favorite_path(@knowledge.id, current_user.favorites.find_by(knowledge_id: @knowledge.id)), method: :delete, remote: true do %>
        <span class="clip-text"><%= embedded_svg("clip.svg") %>クリップ解除</span>
      <% end %>
      <%= @knowledge.favorites.count %>
    <% else %>
      <%= link_to favorites_path(knowledge_id: @knowledge.id), method: :post, remote: true do %>
        <span class="clip-text"><%= embedded_svg("clip.svg") %>クリップ</span>
      <% end %>
      <%= @knowledge.favorites.count %>
    <% end %>
  <% end %>
<% end %>