<%= render "questions/shared/notice" %>

<div class="container main-container">
  <div class="row">
    <div class="col-xs-8 col-lg-8">
      <h4 class="text-center">がん専門薬剤師詳細</h4>
        <div class="card mb-3">
          <div class="card-body">
            <div class="row no-gutters">
              <div class="col-md-2">
                <div class="bd-placeholder">
                    <% if @specialty_pharmacist.image? %>
                      <%= image_tag @specialty_pharmacist.image.url, class: "rounded-circle mx-auto d-block", size: "80x80" %>
                    <% else %>
                      <%= image_tag "no_image.png", class: "rounded-circle mx-auto d-block", size: "80x80" %>
                    <% end %>
                  </div>
                </div>
              <div class="col-md-10">
                <div class="row">
                  <div class="col">
                    <p class="bottom-mgr-5"><strong><%= @specialty_pharmacist.name %><small> 先生</small></strong></p>
                    <p class="bottom-mgr-5"><small>勤務地：</small><%= @specialty_pharmacist.pharmacy %></p>
                    <p class="bottom-mgr-5"><small>資　格：</small>
                      <%  @specialty_pharmacist_details.licenses.each do |license| %>
                        <%= license.name %>
                      <% end %>
                    </p>
                    <p class="bottom-mgr-5"><small>その他資格：</small><%= @specialty_pharmacist_details.other_license %></p>
                    <p class="bottom-mgr-5"><small>得意分野：</small>
                      <% @specialty_pharmacist_details.diseases.each do |specialty_disease| %>
                        <%= specialty_disease.name %>
                      <% end %>
                    </p>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col">
                    <P class="bottom-mgr-5"><small>自己紹介：</small><br>
                      <%= @specialty_pharmacist_details.introduction %>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><br>
    </div>
    <%= render "questions/shared/sidebar" %>
  </div>
</div>
