<div class="container main-container">
  <div class="row">
    <%= render "users/shared/user_detail" %>
    <div class="col">
      <h4 class="text-center">投稿Q&A一覧</h4>
      <% @knowledges.each do |knowledge| %>
        <% if knowledge.draft %><div class="card mb-3 knowledge-card draft-true">
        <% else %><div class="card mb-3 knowledge-card draft-false">
        <% end %>
          <div class="row no-gutters">
            <div class="col-2">
              <div class="bd-placeholder">
                <br>
                <% if knowledge.draft %>
                  <p class="draft-true text-center bottom-mgr-5"><%= draft_text(knowledge) %></p>
                <% else %>
                  <p class="draft-false text-center bottom-mgr-5"><%= draft_text(knowledge) %></p>
                <% end %>
                <% if knowledge.resolved %>
                  <p class="resolved-true text-center bottom-mgr-5"><%= resolved_text(knowledge) %></p>
                <% else %>
                  <p class="resolved-false text-center bottom-mgr-5"><%= resolved_text(knowledge) %></p>
                <% end %>
                <p class="text-center bottom-mgr-5">回答数 <strong><%= comment_count(knowledge) %></strong></p>
                <p class="text-center bottom-mgr-5">クリップ数 <strong><%= knowledge.favorites.count %></strong></p>
              </div>
            </div>
            <div class="col">
              <%= link_to knowledge_path(knowledge.id), class: "card-body knowledge-index" do %>
                <h5 class="card-title"><%= knowledge.title %></h5>
                <p class="card-text"><%= strip_tags(knowledge.content.to_s).gsub(/[\n]/,"").strip %></p>
              <% end %>
            </div>
            <% if @user.id == current_user.id %>
                <div class="col-1 align-self-center">
                  <%= link_to "編集", edit_knowledge_path(knowledge.id), class: "btn btn-warning btn-block" %>
                  <%= link_to "削除", knowledge_path(knowledge.id), method: :delete, data: { confirm: "本当に削除してもいいですか？" }, class: "btn btn-danger btn-block" %>
                </div>
            <% end %>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="d-grid gap-4 col-7 mx-auto">
                <small class="text-muted">
                  <% knowledge.diseases.each do |disease| %>
                  <span class="mgr-10 bottom-mgr-5 btn btn-outline-secondary btn-sm knowledge-index-disease"><%= disease.name %></span>
                <% end %>
                <% knowledge.drugs.each do |drug| %>
                  <span class="mgr-10 bottom-mgr-5 btn btn-outline-secondary btn-sm knowledge-index-disease"><%= drug.name %></span>
                <% end %>
                <% knowledge.side_effects.each do |side_effect| %>
                  <span class="mgr-10 bottom-mgr-5 btn btn-outline-secondary btn-sm knowledge-index-disease"><%= side_effect.name %></span>
                <% end %>
                  </small>
              </div>
              <div class="d-grid gap-4 col mx-auto text-right">
                <small class="text-muted">
                  <%= link_to user_path(knowledge.user), class: "knowledge-user-name" do %>
                    <% if knowledge.user.image? %>
                      <%= image_tag knowledge.user.image.url, class: "rounded-circle", size: "20x20" %>
                    <% else %>
                      <%= image_tag "no_image.png", class: "rounded-circle", size: "20x20" %>
                    <% end %>
                    <%= "#{knowledge.user.name}" %>
                  <% end %>
                </small>
              </div>
              <div class="d-grid gap-4 col mx-auto text-center">
                <small class="text-muted"><%= knowledge.created_at.strftime('%Y年%m月%d日') %></small>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= link_to new_note_path, 
:onclick=>"window.open(this.href, 'ノート', 'height=400, width=800 top=100 left=400');return false;", class: "notebook-new_btn" do %>
  <%= embedded_svg("notebook-new.svg") %>
  <%= embedded_svg("notebook-new_hover.svg") %>
<% end %>