<h5>カテゴリー一覧</h5>
<p><%= link_to "ノート一覧に戻る", notes_path %></p>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>カテゴリー名</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% num = 0 %>
    <% @categories.each do |category| %>
      <tr>
        <td><%= num += 1 %></td>
        <td>
          <%= category.name %>
        </td>
        <td>
          <%= link_to "編集", edit_category_path(category.id) %>
        </td>
        <td>
          <%= link_to "削除", category_path(category.id), method: :delete, data: { confirm: "本当に削除してもよろしいでしょうか？" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
