<!DOCTYPE html>
<html>
  <head>
    <title>Migity</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <% if Rails.env.production? %>
      <%= render 'layouts/google_analytics' %>
    <% end %>
  </head>

  <body>
    <header class="sticky-top">
      <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="mgr-10"><%= link_to 'ミギティー', root_path, data: {"turbolinks" => false} %></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
              <% if current_user.admin? %>
                <li class="nav-item">
                  <%= link_to "管理者画面", rails_admin_path, class: "btn btn-outline-warning" %>
                </li>
              <% end %>
              <li class="nav-item d-flex align-items-center">
                <%= link_to "トップページ", questions_path %>
              </li>
              <li class="nav-item">
                <%= link_to "マイページ", user_path(current_user.id), class: "btn btn-primary" %>
              </li>
              <li class="nav-item">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-outline-secondary" %>
              </li>
            <% else %>
              <li class="nav-item d-flex align-items-center">
                <%= link_to "はじめての方へ", questions_path %>
              </li>
              <li class="nav-item">
                <%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-primary" %>
              </li>
              <li class="nav-item">
                <%= link_to "新規登録", new_user_registration_path, class: "btn btn-primary" %>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>


    <%= yield %>

    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <p class="text-muted">Migity</p>
          </div>
          <div class="col-md-6 text-right">
            <span class="mgr-20">運営</span>
            <span class="mgr-20">コミュニティガイドライン</span>
            <span class="mgr-20">利用規約</span>
            <span class="mgr-20">プライバシーポリシー</span>
          </div>
        </div>
        <div class="row">
          <div class="col text-center">
            <p class="text-muted">copyright.~</p>
          </div>
      </div>
    </footer>
    <%= raw Rails.application.assets_manifest.find_sources('icons.svg').first %>
  </body>
</html>